{{- $profile := "private" -}}
{{- if stat "/.dockerenv" -}}
{{-   $profile = "container" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   if hasKey .chezmoi.kernel "osrelease" -}}
{{-     if contains "microsoft" (lower .chezmoi.kernel.osrelease) -}}
{{-       $profile = "work" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{- $mode := "symlink" -}}
{{- if eq $profile "container" -}}
{{-   $mode = "file" -}}
{{- end -}}
mode = {{ $mode | quote }}

[data]
    profile = {{ $profile | quote }}
