{{- $profile := "private" -}}
{{- if stat "/.dockerenv" -}}
{{-   $profile = "container" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   if hasKey .chezmoi.kernel "osrelease" -}}
{{-     if contains "microsoft" (lower .chezmoi.kernel.osrelease) -}}
{{-       $profile = "work" -}}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{- $mode := "symlink" -}}
{{- if eq $profile "container" -}}
{{-   $mode = "file" -}}
{{- end -}}
{{- $name := "" -}}
{{- $email := "" -}}
{{- if ne $profile "container" -}}
{{-   $name = promptStringOnce . "name" "Git user name" -}}
{{-   $email = promptStringOnce . "email" "Git email address" -}}
{{- end -}}
mode = {{ $mode | quote }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
	profile = {{ $profile | quote }}
	name = {{ $name | quote }}
	email = {{ $email | quote }}
